* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input ::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul,
li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

body {
	background-color: #e8e8e8;
	padding: 150px 150px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	color: #273d46;
}
.list li,
.list2 li {
	background: url(../img/icons/check_icon_37.png) 0 7px no-repeat;
	padding: 0px 0px 0px 30px;
}
.list li:first-child {
	line-height: 36px;
	text-decoration: line-through;
}
.list li:nth-child(2) {
	line-height: 36px;
	font-weight: 700;
}
.list li:nth-child(3) {
	line-height: 36px;
	font-style: italic;
}
.list li:last-child {
	line-height: 36px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0px 0px 50px 0px;
}
.list2 li {
	line-height: 36px;
}
.list2 li:last-child {
	padding: 0px 0px 50px 30px;
}
.list2 li:nth-child(2):hover {
	color: red;
}
.link {
	display: block;
	width: 199px;
	height: 44px;
	box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
	background: #80b7b3;
	border-radius: 30px;
	padding: 0px 0px 0px 30px;
}
.link span {
	background: url(../img/shape_2_9.png) right no-repeat;
	padding: 0px 30px 0px 0px;
}
.link:hover {
	background-color: #3a5856;
	box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
}
.link:active {
	background-color: #818181;
}
.text {
	font-size: 20px;
	margin: 30px 0px 50px 0px;
	width: 294px;
	height: 52px;
	border: 1px solid #b0b0b0;
}
.text:focus {
	border: 1px solid #7fbed5;
	box-shadow: 0px 0px 20px -1px rgba(127, 190, 213, 0.93);
}
